package {{packageName}};

import com.edorasware.gear.core.task.Task;
import com.edorasware.gear.core.task.TaskId;
import com.edorasware.gear.core.task.TaskService;
import com.edorasware.one.document.viewer.DocumentViewerController;
import com.edorasware.one.micro.testing.AbstractComponentTest;
import com.edorasware.one.micro.testing.annotations.EdorasTestLogin;
import org.junit.Test;
import org.springframework.beans.factory.annotation.Autowired;

import static org.junit.Assert.assertEquals;

/**
 * Small test that just checks whether the context is successfully started
 */
@EdorasTestLogin(login = "{{shortName}}-admin")
public class SampleComponentTest extends AbstractComponentTest {

    // You can inject beans from the root context (edoras one context)
    @Autowired
    private TaskService taskService;

    // You can inject beans from rest service context (edoras one dispatcher servlet context)
    @Autowired
    private DocumentViewerController documentViewerController;

    @Test
    public void addCase() {
        final String taskName = "taskName";
        TaskId taskId = this.taskService.addTask(Task.builder().name(taskName).build(), "Add a task");
        Task task = this.taskService.findTaskById(taskId);
        assertEquals("The task name must be equal", taskName, task.getName());
    }
}